# Environment secrets
.env

# Plugin artifacts
plugins/*.zip
!plugins/.gitkeep
scripts/plugins/*.zip
!scripts/plugins/.gitkeep

# Theme artifacts
themes/*.zip
!themes/.gitkeep

# Test media
test-images/*
!test-images/.gitkeep
scripts/test-images/*
!scripts/test-images/.gitkeep

# Logs
*.log

# OS Dateien
.DS_Store
Thumbs.db

# Lokale Docker Overrides
docker-compose.override.yml
